
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --azulpadrao : #036381;
    --amarelopadrao : #FEBD59; 
    --azulbg :#FEF4E5;

    --titulos:'Rubik', serif;
    --paragrafos:'Noto Serif', serif;

    --fonth1: 64px;
    --fontp : 24px;
    --fontfooter: 16px;

    --sizemax: 1300px


  }

body {
    color: black;
    background-color: var(--azulbg);
    overflow-x: hidden;
}

.header {
    width: 100%;
    background-color: var(--azulpadrao);
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
main{
    max-width: var(--sizemax);
    margin: auto;
    width: 95%;
}

.logo {
    width: 200px;
    height: auto;
}

h1{
    font-family: var(--titulos);
    font-size: var(--fonth1);
    color: var(--azulpadrao);
    letter-spacing: -2px;
}
p{
    font-family: var(--paragrafos);
    font-size: var(--fontp);
}
span{
    color: var(--amarelopadrao);
    font-size: 80px;
    background-color: var(--azulpadrao);
    padding: 0 20px;
    border-radius: 7px;
    letter-spacing: 3px ;
    
}
.intro {
    text-align: start;
    padding: 0px 10px;
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    background-color: var(--amarelopadrao);
    border-style: none;
    padding: 20px 40px;
    border-radius: 50px;
    font-weight: 800;
}
button:hover{
    background-color: #FFD700;
}
.highlights {
    justify-content: space-around;
    padding: 50px 0px;
}

#opcoes{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.highlight {
    text-align: center;
}
.highlight img{
    width: 220px;
}
#hl{
    text-align: center;
}
/* Container dos produtos */
.products {
    text-align: center;
    padding: 20px;
}

.product {
    display: inline-block;
    margin: 15px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.product p {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    font-size: 1.2em;
}

/* Botão do WhatsApp */
.btn-whatsapp {
    display: inline-block;
    background-color: #00425A; 
    color: #fff; 
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Efeito Hover no Botão */
.btn-whatsapp:hover {
    background-color: #25D366; 
    transform: scale(1.05); 
}

/* Efeito Active no Botão */
.btn-whatsapp:active {
    background-color: #00425A; 
    transform: scale(0.95); 
}


.product:hover {
    transform: translateY(-5px); 
    box-shadow: 0 5px 10px #00425A;
}


/* .testimonials {
    padding: 50px 20px;
    background-color: #E3F2FD;
} */

/* .testimonials h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #036381;
    text-align: center;
} */
/* 
.testimonials blockquote {
    font-style: italic;
    border-left: 4px solid #036381;
    padding-left: 20px;
    margin: 20px auto;
    max-width: 600px;
} */

.cta{
    background-color: var(--azulpadrao);
    width: 900px;
    border-radius: 24px;
    margin: 50px auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap:24px;
}
.cta h1{
    color: white;
    font-size: 32px;
    letter-spacing: 0px;
    text-align: center;
}
.cta p{
    color: white;
    text-align: center;
}
.cta button{
    width: 30%;
    align-self: center;
    
}
#btnf{
    color: black;

}
.footer {
    background-color: #036381;
    color: #FFF;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
}

.carousel {
    position: relative;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.card {
    width: 300px;
    height: 350px;
    margin: 10px;
    color: #6A6A6A;
    
    padding: 32px;
    background-color: #FFF;
    border-radius: 16px;

    box-shadow: 10px 8px 20px 0px #00000014;

    gap: 32px;
    text-align: center;
}
.card p{
    font-size: 14px;
    font-family: "Inter", serif;
    margin-top: 20px;
}
.card h3{
    font-size: 14px;
    font-family: "Inter", serif;
    font-style: italic;
    margin-top: 20px;
    


}
.card img{
    margin-top: 10px;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.redes-sociais a {
    color: #FFF;
    font-size: 1.5em;
    margin: 0 10px;
    transition: color 0.3s;
}

.redes-sociais a:hover {
    color: #FFD700;
}
